body {
  font-family: Arial, sans-serif;
  background-color: #0044ff;
}

.contenedor {
  width: 80%;
  margin: 40px auto;
  background-color: #cc1515;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.informacion-usuario, .informacion-cuenta {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.informacion-usuario p, .informacion-cuenta p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #337ab7;
  transition: color 0.2s ease;
}

a:hover {
  color: #23527c;
}

a:active {
  color: #337ab7;
}